.banner-card{
    width: 100vw;
    margin-bottom: 3vh;
    position: relative;
    height: 70vh;
    color: white;
}

.banner-img{
  height: 70vh;
  width: 100%;
}

.banner-title{
  position: absolute;
  top: 45vh;
  left: 5vw;
}

.banner-text{
  position: absolute;
  top: 55vh;
  left: 5vw;
  height: 4.5rem;
  overflow: hidden;
  margin-right: 5vw;
}

.movies-list{
  color: white;
  display: flex;
  flex-wrap: wrap;
  padding: 1rem;
  justify-content: center;
}

.movies-card{
  width: 20vw;
  height: 30vh;
  margin: 1rem;
  color: white;
  position: relative;
}

.movies-title{
  position: absolute;
  margin : 1rem;
}
.movies-button-wrapper{
  display: flex;
  justify-content: center;
  width: 100%;
}
.movies-button{
  position: absolute;
  bottom: 2rem;
}
.paginationStyle{
  display: flex;
  justify-content: center;
  cursor: pointer;
  color: white;
  position: sticky;
}

@media screen and (max-width:400px){
  .banner-card{
    height:30vh;
  }
  .banner-img{
    height: 30vh;
  }
  .banner-title{
    top: 12vh;
    left: 5vw
  }
  .banner-text{
    top: 17vh;
    left: 5vw;
  }
  .movies-card{
    width: 40vw;
    margin: 0.1rem;
  }
  .movies-button{
    width: 80%;
  }
  .movies-img{
    width: 40vw;
  }
}